// colors
$primary-black: #242323;
$tire-shop-red: #C31818;
$primary-red: #C53C3C;
$secondary-black: #181818;
$white: #F2F2F2;

// alt font
$open-sans: 'Open Sans', sans-serif;

* {
    font-family: 'Montserrat', sans-serif;
}